<div>
  <p class="font-semibold mb-4">Actualiza la información del libro</p>
  <form class="grid grid-cols-2 gap-4" [formGroup]="updateBookForm">
    <mat-form-field appearance="outline">
      <mat-label>Titulo</mat-label>
      <input matInput placeholder="El principito" formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Autor</mat-label>
      <input
        matInput
        placeholder="Antoine de Saint-Exupéry"
        formControlName="author"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha de lanzamiento</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        (click)="picker.open()"
        formControlName="year"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Url imagen</mat-label>
      <input
        matInput
        placeholder="https://images-na.ssl-images-amazon.com/images/I/41iS616ndCL._SX312_BO1,204,203,200_.jpg"
        formControlName="image"
      />
      <mat-hint>Este campo no es obligatorio</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-span-2">
      <mat-label>Sinopsis</mat-label>
      <textarea matInput formControlName="sinopsis"></textarea>
      <mat-hint>Max 500 caracteres</mat-hint>
    </mat-form-field>
    <div class="flex space-x-4 sm:col-start-2">
      <button mat-flat-button color="primary" type="button" mat-dialog-close>
        Cancelar
      </button>
      <button
        mat-flat-button
        color="primary"
        type="button"
        mat-dialog-close
        [disabled]="!updateBookForm.valid"
        (click)="updateBook()"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
