<div class="lg:mx-32 md:mx-16 mx-6 mt-12 md:mt-24">
  <button mat-flat-button color="primary" (click)="openCreateDialog()">
    Crear libro
  </button>
  <div
    class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 lg:gap-8 gap-4 mt-6"
    [sortablejs]="booksList"
    [sortablejsOptions]="options"
  >
    <div *ngFor="let book of booksList">
      <!--Item  -->
      <div class="flex flex-col bg-gray-200 rounded-lg p-4 m-2 h-full">
        <img
          class="rounded-lg w-40 ml-4 md:ml-0 md:self-center"
          [src]="book.Image"
        />
        <div class="flex flex-col items-center mt-4">
          <h4 class="text-xl font-semibold">{{ book.Title }}</h4>
          <p class="text-sm font-medium italic mb-2">
            {{ book.Author }}
          </p>
          <p class="text-sm mb-6">{{ book.Sinopsis }}</p>
          <div class="space-x-6">
            <button
              mat-flat-button
              color="accent"
              class="
                p-2
                leading-none
                rounded
                font-medium
                mt-3
                bg-gray-400
                text-xs
                uppercase
              "
              (click)="openDeleteDialog(book.ID)"
            >
              Borrar
            </button>
            <button
              mat-flat-button
              color="primary"
              class="
                p-2
                leading-none
                rounded
                font-medium
                mt-3
                bg-gray-400
                text-xs
                uppercase
              "
              (click)="openUpdateDialog(book)"
            >
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
